# Application
APP_HOST=localhost
APP_PORT=5278

# Database
SURREALDB_VERSION=v3.2.4
SURREALDB_URL=rocksdb:/home/nonroot/surrealdb/prutaj.db
SURREALDB_HOST=localhost:8000
SURREALDB_NAME=prutaj-surrealdb
SURREALDB_NAMESPACE=prutaj_board
SURREALDB_USER=root
SURREALDB_PASSWORD=secret